<template name="bottleavailable">
    <div class="col-md-3 col-sm-6 bottle">
        <div class="thumbnail">
            <!-- <img src="http://placehold.it/800x500" alt=""> -->
            <div class="caption">
                <h3>{{name}}</h3>
                <p>{{region}}</p>
                <p>{{year}}</p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="bottleinfo" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
</template>
