<template name="bottleinfo">
    <div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Historique du produit</h2>
        </div>
    </div>
    <div class="caption">
        <h3>Château le Pourcaud</h3>
        <p>2015</p>
        <!-- List check point -->
    </div>
    <table class="table">
    <thead>
      <tr>
        <th>Responsable</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    {{#each tenLastTxs}}
    {{> tablerow}}
    {{/each}}
    </tbody>
    </table>    
    </div>
</template>
