<template name="updatebottle">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Transaction</h2>
    </div>
</div>
<div class="row col-md-6 col-md-offset-3">
  <form class="form-add"> 
    <fieldset class="form-group">
      <label for="responsable">Responsable</label>
      <input type="text" class="form-control" id="responsable" placeholder="Responsable">
    </fieldset>
    <fieldset class="form-group">
      <label for="localisation">Localisation</label>
      <input type="number" class="form-control" id="localisation" placeholder="localisation">
    </fieldset>
    <fieldset class="form-group">
      <label for="cepage">Cépage</label>
      <select class="form-control" id="cepage">
        <option>Chardonnay</option>
        <option>Pinot</option>
        <option>Merlot</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="code">Code</label>
      <input type="number" class="form-control" id="code" placeholder="Code">
    </fieldset>
<!--     <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
    </div>
    <div class="radio disabled">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
        Option three is disabled
      </label>
    </div>
 -->    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
</template>
